<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{{! bootstrap.js 의 경우 jquery가 있어야만 실행. 이와 같은 상황을 bootstrap.js 가 jquery 에 의존한다고 한다.}}
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>